* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#root {
    font-family: "Quicksand", sans-serif;
}
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f6f6f6;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(126, 126, 126);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(25, 118, 210);
}
.text-red {
    color: red;
}
.text-green {
    color: rgb(29, 187, 29);
}
.card-box {
    padding-top: 17px;
    padding-bottom: 7px;
    padding-left: 5px;
    border-bottom: 1px solid #d3d3d3;
    
}
.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}
.details {
    max-width: 250px;
}
.rating {
    display: flex;
    align-items: center;
    gap: 5px;
}
.stars {
    display: flex;
    align-items: center;
}
.address {
    font-weight: 500;
    font-size: 0.9rem;
    margin-top: 5px;
}
.openings {
    font-weight: 500;
    font-size: 0.9rem;
}
.place-img {
    width: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
}
.place-img img {
    width: 100%;
    border-radius: 15px;
    aspect-ratio: 1/1;
    display: block;
    object-fit: cover;
}

@media (900px <= width <= 1200px) {
    .place-img {
        width: 100%;
        height: 150px;
        overflow: hidden;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: 10px;
    }
    .place-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.delivery-details, .detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.delivery-details {
    margin: 7px 0;
}
.detail {
    gap: 5px;
    padding: 4px 15px 4px 5px;
    background-color: #e0e0e0;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
}
.details h3{
    cursor: pointer;
}
.details h3:hover{
    text-decoration: underline;
}
.markerLocation{
    width: 0px;
    height: 0px;
    position: relative;
}
.markerLocation img{
    width: 35px;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(-47%, -85%);
    user-select: none;
}
.fallback{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 500;
    background: #c5e3e7;
}
.heading{
    margin-bottom:50px;
}
.welcome{
    margin-bottom: 20px;
    color: #3d78cf;
}
.enter-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3d78cf;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}